<html>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/log-out">Logout</a></li>
      <li><a href="/account">Manage Account</a></li>
    </ul>
    <h1>Booking confirmation</h1>
    <p>
      Your booking is pending.

      When it is approved you will get an email.
    </p>
</html>