<html>
  <head><link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>"></head>
  <body>
    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/log-in">Log In</a></li>
      </ul>
      </div>
    <h1>Email address already in use.</h1>

  </body>
</html>